
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


html {
    scroll-behavior: smooth;
}




body {
font-family: 'Press Start 2P', cursive;
background-image: url('../img/nintendo.png');
background-repeat: repeat-y;
background-size: 130%;
margin: 


}


h1 {
    font-size: 1.3em;
    color: var(--color-yellow);
    padding: 20px 0;
}

.dev { 
    border-radius: var(--radius); 
    text-align: center;
    padding: 20px;
}


.dev img {
    width: 100%;
}

.dev p {
    margin-top: 25px;
    margin-bottom: 0px;
}


span {
    color: var(--color-primary);
}
