/*====================*/
/*========DEVS========*/
/*====================*/




.devs {
    color: white;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    margin-top: 50px;
    padding: 0 30px;
}


.dev-1 { background-color: var(--color-1); }
.dev-2 { background-color: var(--color-2); }
.dev-3 { background-color: var(--color-3); }
.dev-4 { background-color: var(--color-4); }
.dev-5 { background-color: var(--color-5); }
.dev-6 { background-color: var(--color-6); }
.dev-7 { background-color: var(--color-7); }
.dev-8 { background-color: var(--color-8); }
.dev-9 { background-color: var(--color-9); }
.dev-10 { background-color: var(--color-10); }
.dev-11 { background-color: var(--color-11); }
.dev-12 { background-color: var(--color-12); }

.devs .dev { 
    filter: grayscale(50%);
    transition: all, 0.5s;
    grid-column: span 6;
}


.devs .dev:hover {
    filter: grayscale(0);
    transform: scale(1.025);
    
}


/*=====================*/
/*=======DEV ZOOM======*/
/*=====================*/



.dev-container {
    position: relative;
}


.dev-zoom {
    background-color: rgb(37, 37, 39);
    width: 50%;
    display: none;
    color: white;
    padding: 25px 50px 20px 50px;
    border-radius: var(--radius);
    
}



.dev-zoom img {
    width: 40%;
    margin-bottom: 25px;
    
}

.dev-zoom i {
    position: absolute;
    top: -20px;
    right: -15px;
    color:rgb(12, 12, 14); 
}


#dev-infos { text-align: center; }

#dev-infos p { word-wrap: break-word;}



.dev-description {
    text-align:left;
} 

.dev-name {
    text-align: center;
    margin-bottom: 20px;
}



.dev-image {
    width: 100px;
    display: inline-block;  
}



.dev-progress{
    display: flex;
    align-items: center;

}

#dev-stats p {
    margin-bottom: 0;
    margin-left: 3px;
    font-size: 0.8em;
    color: var(--color-grey);

}

.progress-value { 
    color: var(--color-grey);
    display: inline-block;
    
}





/*=============================*/
/*========NES LIBRAIRIE========*/
/*=============================*/


.nes-progress {
    width: 80% !important;
    height: 20px;
}






/*=============================*/
/*========MEDIA QUERIES========*/
/*=============================*/



@media screen and (min-width: 768px)  {

    .devs .dev {  
        grid-column: span 4;
    }
    
   

}




@media screen and (min-width: 990px)  {

    .devs .dev {  
        grid-column: span 3;
    }

    .container {
        max-width: 960px;
        margin: 0 auto;
    }


    


}




@media screen and (min-width: 1200px)  {


    .container {
        max-width: 1100px;
        margin: 0 auto;
    }

    

}



@media screen and (min-width: 1400px)  {


    .container {
        max-width: 1300px;;
        margin: 0 auto;
    }


  


}